#nt{
   font-size: 70px; 
   font-weight: bold;
   color: white;
   text-align: left;
}

#nt2{
    font-size: 35px; 
    font-weight: bold;
    color: white;
    text-align: left;
 }

body{
    background-image: url(backimage3.png);
}
p{
    text-align: right;
}